<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户中心</title>
    <meta charset="UTF-8">
    <link href="/static/layui/css/layui.css" media="all" rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <style type="text/css">
        .linear-background {
            background-image: linear-gradient(80deg, #20B2AA, #1C86EE);
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body class="linear-background">
<div style="background-color: #00b2ff"></div>
<!-- 抬头 -->
<div class="layui-row layui-bg-black">
    <div class="layui-col-md8">
        <div style="text-align: center; padding: 5px">
            <strong style="font-size: 35px; color: antiquewhite">
                个人主页
            </strong>
        </div>
    </div>
    <div class="layui-col-md4">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <span style="padding: 15px">
                    <strong style="font-size: 22px">活动列表</strong>
                </span>
            </li>
            <li class="layui-nav-item">
                <span style="padding: 15px">
                    <strong style="font-size: 22px">我的活动</strong>
                </span>
            </li>
            <li class="layui-nav-item">
                <span style="padding: 15px">
                    <strong style="font-size: 22px">
<!--                        <img src="" class="layui-nav-img" alt="图像"/>-->
                        我的账号
                    </strong>
                </span>
                <dl class="layui-nav-child layui-bg-blue">
                    <dd style="text-align: center">
                        <button class="layui-btn-lg layui-bg-green" onclick="">个人信息</button>
                    </dd>
                    <dd style="text-align: center">
                        <button class="layui-btn-lg layui-bg-orange" onclick="">注销账号</button>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<!-- 抬头 -->

<!-- 滚轮插件 占大版面 -->
<div class="layui-row">
    <div class="layui-col-sm12 layui-col-md12">
        <div class="layui-carousel picture_height" id="advertisement" lay-filter="advertisement">
            <div carousel-item="">
                <img alt="第一张" src="/static/image/seckill_bg1.jpg" th:src="@{/static/image/seckill_bg1.jpg}"/>
                <img alt="第二张" src="/static/image/seckill_bg2.jpg" th:src="@{/static/image/seckill_bg2.jpg}"/>
                <img alt="第三张" src="/static/image/seckill_bg3.jpg" th:src="@{/static/image/seckill_bg3.jpg}"/>
                <img alt="第四张" src="/static/image/seckill_bg4.jpg" th:src="@{/static/image/seckill_bg4.jpg}"/>
                <img alt="第五张" src="/static/image/seckill_bg5.jpg" th:src="@{/static/image/seckill_bg5.jpg}"/>
            </div>
        </div>
    </div>
</div>
<br/>
<!-- 主页面标题 -->
<div class="layui-row">
    <div class="layui-col-md6">
        <div style="text-align: center">
            <strong style="font-size: 25px">限时抢购</strong>
        </div>
    </div>
    <div class="layui-col-md6">
        <div style="text-align: center">
            <strong style="font-size: 25px">尽情期待</strong>
        </div>
    </div>
</div>
<!-- 主页面标题 -->

<!-- 列表 -->
<div class="layui-row">
    <!-- 限时抢购列表 -->
    <div class="layui-col-md6">
        <div class="layui-row">
            <div th:each="seckillInfoInProgress: ${seckillInfoInProgressList}">
                <!-- 开始遍历 -->
                <div class="layui-col-md3">

                    <!-- each -->
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <strong th:text="seckillInfoInProgress.getName()">活动名称</strong>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md3">
                            <img alt="活动图片" src=""/>
                        </div>
                        <div class="layui-col-md3">
                            <div class="layui-row">
                                <div class="layui-col-md3">
                                    <strong th:text="seckillInfoInProgress.getExpectedNumber()">发送数量</strong>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-md3">
                                    <strong th:text="'距离结束:' + seckillInfoInProgress.getProductId()">倒计时:</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md1">
                            <strong th:text="seckillInfoInProgress.getSeckillPrice()">秒杀价格</strong>
                        </div>
                        <div class="layui-col-md1">
                            <strong th:text="seckillInfoInProgress.getOriginalPrice()">原价</strong>
                        </div>
                        <div class="layui-col-md1">
                            <button th:onclick="" th:text="">详情</button>
                        </div>
                    </div>
                    <!-- each -->

                </div>
                <!-- 结束遍历 -->
            </div>
        </div>
    </div>
    <!-- 限时抢购列表 -->

    <!-- 尽情期待列表 -->
    <div class="layui-col-md6">
        <div class="layui-row">
            <div th:each="seckillInfoInFuture: ${seckillInfoInFutureList}">
                <!-- 开始遍历 -->
                <div class="layui-col-md3">

                    <!-- each -->
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <strong th:text="seckillInfoInFuture.Name">活动名称</strong>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md3">
                            <img alt="活动图片" src=""/>
                        </div>
                        <div class="layui-col-md3">
                            <div class="layui-row">
                                <div class="layui-col-md3">
                                    <strong th:text="seckillInfoInFuture.ExpectedNumber">发送数量</strong>
                                </div>
                            </div>
                            <div class="layui-row">
                                <div class="layui-col-md3">
                                    <strong th:text="'倒计时:' + seckillInfoInFuture.productId">倒计时:</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-md3">
                            <strong th:text="seckillInfoInFuture.seckillPrice">秒杀价格</strong>
                        </div>
                        <div class="layui-col-md3">
                            <strong th:text="seckillInfoInFuture.originalPrice">原价</strong>
                        </div>
                    </div>
                    <!-- each -->

                </div>
                <!-- 结束遍历 -->
            </div>
        </div>
    </div>
    <!-- 尽情期待列表 -->
</div>
<!-- 列表 -->
</body>


<!-- Javascript引入 -->
<script src="/static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}" type="text/javascript"></script>
<script src="/static/layui/layui.js" th:src="@{/static/layui/layui.js}" type="text/javascript"></script>
<!-- Javascript引入 -->
<script>
    layui.use(['carousel', 'form', 'element'], function () {
        var carousel = layui.carousel, form = layui.form, element = layui.element;

        //轮播主体高度
        var picture_height = $(window).height() / 2;
        var car_height = $(".picture_height").css("cssText", "height:" + picture_height + "px!important");

        //轮播样式
        carousel.render({
            elem: '#advertisement'//指向容器选择器
            , width: '100%' //设置容器宽度
            , height: 'car_height'
            , anim: 'default' //切换动画方式
            , autoplay: true //是否自动切换false true
            , arrow: 'hover' //切换箭头默认显示状态||不显示：none||悬停显示：hover||始终显示：always
            , indicator: 'none' //指示器位置||外部：outside||内部：inside||不显示：none
            , interval: '5000' //自动切换时间:单位：ms（毫秒）
        });
    });
</script>

</html>




