<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人信息</title>
    <meta charset="UTF-8">
    <link href="/static/layui/css/layui.css" media="all" rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <style type="text/css">
        .background {
            background-image: url("/static/image/cool-background2.png");
            background-size: cover;
        }

        .item-style {
            font-size: 22px;
            cursor: pointer;
        }
    </style>
</head>
<body class="background">
<!-- 抬头 -->
<div class="layui-row layui-bg-black">
    <div class="layui-col-md7">
        <div style="text-align: center; padding: 5px">
            <div th:if="${hasUserRole} == true">
                <i class="layui-icon" style="color: antiquewhite; font-size: 35px">&#xe68e;</i>
                <strong onclick="goToTargetPage(homeHtml, getToken())"
                        style="font-size: 35px; color: antiquewhite; cursor: pointer">
                    个人主页
                </strong>
            </div>
        </div>
    </div>
    <div class="layui-col-md5" style="text-align: right">
        <ul class="layui-nav">
            <li class="layui-nav-item" th:if="${hasAdminRole} == true">
                <span style="padding: 15px">
                    <strong class="item-style"
                            onclick="goToTargetPage(systemMangementHtml, getToken())">
                        系统管理
                    </strong>
                </span>
            </li>
            <li class="layui-nav-item" th:if="${hasUserRole} == true">
                <span style="padding: 15px">
                    <strong class="item-style"
                            onclick="goToTargetPage(privateSeckillListHtml, getToken())">
                        活动列表
                    </strong>
                </span>
            </li>
            <li class="layui-nav-item" th:if="${hasUserRole} == true">
                <span style="padding: 15px">
                    <strong class="item-style"
                            onclick="goToTargetPage(mySeckillHtml, getToken())">
                        我的秒杀
                    </strong>
                </span>
            </li>
            <li class="layui-nav-item">
                <span style="padding: 15px">
                    <strong class="item-style">
                        我的账号
                    </strong>
                </span>
                <dl class="layui-nav-child">
                    <dd style="text-align: center">
                        <strong style="color: #0C0C0C; cursor:pointer">
                            个人信息
                        </strong>
                    </dd>
                    <dd style="text-align: center">
                        <strong onclick="requestLogout()"
                                style="color: #0C0C0C; cursor:pointer">
                            注销账号
                        </strong>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<!-- 抬头 -->
<br/><br/>

<div class="layui-row">
    <div class="layui-col-md6 layui-col-md-offset3" style="text-align: center">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px">
            <legend style="font-size: 25px">
                <i class="layui-icon" style="font-size: 25px">&#xe770;</i>
                基本资料
            </legend>
            <br/>

            <div class="layui-card layui-col-md10 layui-col-md-offset1"
                 style="background-image: url('/static/image/cool-background3.png'); background-size: cover; padding: 20px">
                <div class="layui-card-body">

                    <div class="layui-col-md3 layui-col-md-offset2" style="text-align: right">
                        <label>
                            <strong style="font-size: 20px">
                                账号:
                            </strong>
                        </label>
                    </div>
                    <div class="layui-col-md5 layui-col-md-offset1" style="text-align: left">
                        <strong id="username" style="font-size: 20px" th:text="${user.getUsername()}">
                            12345678
                        </strong>
                    </div>

                    <div class="layui-col-md3 layui-col-md-offset2" style="text-align: right">
                        <label>
                            <strong style="font-size: 20px">密码:</strong>
                        </label>
                    </div>
                    <div class="layui-col-md5 layui-col-md-offset1" style="text-align: left">
                        <strong id="password" style="font-size: 20px">
                            ********
                            <i class="layui-icon" onclick="invertPasswordState()" style="font-size: 10px">&#xe683;</i>
                        </strong>
                    </div>

                    <div class="layui-col-md3 layui-col-md-offset2" style="text-align: right">
                        <label>
                            <strong style="font-size: 20px">用户名:</strong>
                        </label>
                    </div>
                    <div class="layui-col-md5 layui-col-md-offset1" style="text-align: left">
                        <strong style="font-size: 20px" th:text="${user.getDisplayName()}">用户1</strong>
                    </div>

                    <div class="layui-col-md3 layui-col-md-offset2" style="text-align: right">
                        <label>
                            <strong style="font-size: 20px">电话:</strong>
                        </label>
                    </div>
                    <div class="layui-col-md5 layui-col-md-offset1" style="text-align: left">
                        <strong style="font-size: 20px" th:text="${user.getPhone()}">18817659063</strong>
                    </div>

                    <div class="layui-col-md3 layui-col-md-offset2" style="text-align: right">
                        <label>
                            <strong style="font-size: 20px">邮箱:</strong>
                        </label>
                    </div>
                    <div class="layui-col-md5 layui-col-md-offset1" style="text-align: left">
                        <strong style="font-size: 20px" th:text="${user.getEmail()}">******@gmail.com</strong>
                    </div>

                </div>
            </div>
        </fieldset>
    </div>
</div>
</body>

<!-- Javascript引入 -->
<script src="/static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}" type="text/javascript"></script>
<script src="/static/layui/layui.js" th:src="@{/static/layui/layui.js}" type="text/javascript"></script>
<script src="/static/js/seckill.js" th:src="@{/static/js/seckill.js}" type="text/javascript"></script>
<script src="/static/js/variable.js" th:src="@{/static/js/variable.js}" type="text/javascript"></script>
<script src="/static/js/util.js" th:src="@{/static/js/util.js}" type="text/javascript"></script>
<script src="/static/js/jwt_token.js" th:src="@{/static/js/jwt_token.js}" type="text/javascript"></script>
<!-- Javascript引入 -->

<script>
    layui.use(['element', 'form'], function () {
        var element = layui.element;
        var form = layui.form;
    });
</script>

<script th:inline="javascript">
    function invertPasswordState() {
        let passStr = $("#password").val();
        if (passStr === "********") {
            $("#password").val([[${user.getPassword()}]]);
        } else {
            $("#password").val("********");
        }
    }
</script>

<script th:inline="javascript">
    window.onload = function () {
        let token = [[${token}]];
        setToken(token, 7);
    }
</script>

</html>